@(metas : List[Meta])

<html lang="">
    <head>
        <title>Controle de Metas</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" media="screen">
    </head>
    <body>
    	<div class="content">
    	<br>
    		<div class="jumbotron">
    			<h1 style="text-align: center"'>Sistema de acompanhamento de metas semanais.</h1>
    		</div>
    		<div class="col-sm-5">
    			<h2 class="text-center">@metas.size() meta(s)</h2>
    			@for(meta <- metas){
    				@if(meta.equals(metas.get(0))){
	    					<h1>Semana @meta.getSemana()</h1>
	    					<td>Meta: @meta.getDescricao()</td>
	    					<br>
	    				}else{ 
	    					@if(meta.getSemana() != metas.get(metas.indexOf(meta)-1).getSemana()){
	    						<h1>Semana @meta.getSemana()</h1>
	    					}
	    					<td>Meta: @meta.getDescricao()</td>
	    				}	    				
    			}
    		</div>
    		
    	</div>
    </body>
</html>
